.devText {
  color: rgba(0, 0, 0, 0.9);
}

.header {
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #f0f0f0;
}
.logo {
  display: flex;
  align-items: center;
}
.nav {
  margin-left: 2rem;
  width: 10px;
  height: 10px;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #555;
}

.logotext {
  font-weight: 700;
  font-size: 25px;
  cursor: pointer;
}
