.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
  }
  
  
  .left {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 20px; 
    top: 20px; 
  }
  
  .brandName {
    position: fixed;
    width: 120px;
    height: 12px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .devText {
    color: rgba(0, 0, 0, 0.9);
  }
  
  .gramText {
    color: #999999;
  }
  
  .displayText {
    font-size: 50px;
    margin-top: 16%;
    margin-left: 40px;
    width: 40%;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-repeat: repeat;
	background-color: #fff;
	
  }
  
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 20px;
    top: 25px;
  }
  
  
  .loginSignup {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
  }
  
  .loginLink {
    margin-right: 50px;
    color: #808080;
    font-size: 20px;
    display: inline-block;
  }
  
  .signupLink {
    color: #808080;
    font-size: 20px;
    display: inline-block;
  }
  
  
  .descText{
    font-size: 15px;
    position: fixed;
    bottom: 70px;
    margin-right: 300px;
    left: auto;
    width: 50%;
    width: 40%;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  .devMeaning{
    position: absolute;
    font-size: 40px;
    margin-top: 160px;
    margin-right: 450px;
    width: 40%;
  }

  .devMeaningNoun{
    position: absolute;
    font-size: 20px;
    margin-top: 20px;
    color: grey;
  }

  .devMeaningSentence{
    position: absolute;
    font-size: 20px;
    margin-top: -5px;
    margin-left: -10px;
    font-weight:200;
    width: 450%;
    word-wrap: break-word;
    white-space: pre-wrap;  
    color: grey;
  }