.home_outerdiv {
  border: 1px solid black;
  min-height: 100vh;
  position: relative;
  padding: 2rem 4rem;
  display: flex;
}
.home_outerdiv section {
  height: 1500px;
  margin-right: 300px;
  border: 1px solid red;
  width: 100%;
}
.home_outerdiv aside {
  position: fixed;
  width: 300px;
  top: 2rem;
  right: 4rem;
  border: 2px solid black;
  overflow-y: scroll;
  height: 89vh;
}
.home_outerdiv aside div {
  height: 300px;
  border: 1px solid blue;
}
