.ChatInput {
  display: grid;
  align-items: center;
  grid-template-columns: 5% 95%;
  background-color: #080420;
  padding: 0 2rem;
  margin-top: 360px;
}

.ButtonContainer {
  display: flex;
  align-items: center;
  color: white;
  gap: 1rem;
}

.ButtonContainer .emoji {
  position: relative;
}

.ButtonContainer .emoji svg {
  font-size: 1.5rem;
  color: #ffff00c8;
  cursor: pointer;
}

.ButtonContainer .emoji .emoji-picker-react {
  position: absolute;
  top: -350px;
  background-color: #080420;
  box-shadow: 0 5px 10px #9a86f3;
  border-color: #9a86f3;
}

.ButtonContainer .emoji .emoji-picker-react .emoji-scroll-wrapper::-webkit-scrollbar {
  background-color: #080420;
  width: 5px;
}

.ButtonContainer .emoji .emoji-picker-react .emoji-scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: #9a86f3;
}

.ButtonContainer .emoji .emoji-picker-react .emoji-categories button {
  filter: contrast(0);
}

.ButtonContainer .emoji .emoji-picker-react .emoji-search {
  background-color: transparent;
  border-color: #9a86f3;
}

.ButtonContainer .emoji .emoji-picker-react .emoji-group:before {
  background-color: #080420;
}

.InputContainer {
  width: 100%;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: #ffffff34;
}

.InputContainer input {
  width: 90%;
  height: 60%;
  background-color: transparent;
  color: white;
  border: none;
  padding-left: 1rem;
  font-size: 1.2rem;
}

.InputContainer input::selection {
  background-color: #9a86f3;
}

.InputContainer input:focus {
  outline: none;
}

.InputContainer button {
  padding: 0.3rem 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9a86f3;
  border: none;
}

@media screen and (min-width: 720px) and (max-width: 1080px) {
  .InputContainer button {
    padding: 0.3rem 1rem;
  }
  .InputContainer button svg {
    font-size: 1rem;
  }
}

.InputContainer button svg {
  font-size: 2rem;
  color: white;
}
