.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
  }
  
  .welcome img {
    height: 20rem;
  }
  
  .welcome span {
    color: #4e0eff;
  }
  